* text=auto eol=lf

/.editorconfig      export-ignore
/.gitattributes     export-ignore
/.github            export-ignore
/.gitignore         export-ignore
/.markdownlint.jsonc export-ignore
/AGENTS.md          export-ignore
/CLAUDE.md          export-ignore
/captainhook.json   export-ignore
/cliff.toml         export-ignore
/composer-dependency-analyser.php export-ignore
/contract           export-ignore
/phpstan.neon       export-ignore
/phpunit.xml        export-ignore
/pint.json          export-ignore
/rector.php         export-ignore
/renovate.json      export-ignore
/scripts            export-ignore
/tests              export-ignore
/typos.toml         export-ignore
/vendor-bin         export-ignore
